*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: khaki;
  display: grid;
  width: 500px;
  grid-template-rows: 75px 110px 135px 80px;

  overflow: hidden;
}

.check-mark {
  grid-row: 1;
  align-self: center;
  padding: 20px;
}

svg {
  animation: rotate 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(1500deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

.heading {
  grid-row: 2;
  padding: 10px 20px;
  font-size: 2.2rem;
  color: rgb(32, 32, 130);

  animation: appear-up 1s 3 forwards;
}

@keyframes appear-up {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.heading-2 {
  padding-left: 20px;
  grid-row: 3;
  background-color: darksalmon;
  display: flex;

  animation: appear-down 0.5s;
}

.heading-2 h1 {
  flex-basis: 50%;
  align-self: center;
  font-weight: bold;
  color: orangered;
  font-size: 7rem;
}

.heading-2 h2 {
  flex-basis: 50%;
  align-self: center;
  text-transform: uppercase;
  font-weight: 100;
}

.heading-2 h1,
.heading-2 h2 {
  animation: appear-down 3s;
}

.learn-more-btn {
  grid-row: 4;
  background-color: coral;
  display: flex;
  align-items: center;
  padding-left: 20px;

  animation: appear-down 0.5s 1s;
}

@keyframes appear-down {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.learn-more-btn button {
  background-color: rgb(32, 32, 130);
  border-radius: 50px;
  color: white;
  height: 62.5%;
  width: 30%;

  animation: appear-right 1s 2s;
}

@keyframes appear-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
