*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: burlywood;
  display: grid;
  width: 500px;
  grid-template-rows: 75px 110px 135px 75px;

  overflow: hidden;
}

.check-mark {
  grid-row: 1;
  align-self: center;
  padding: 20px;
  background-color: khaki;
}

.heading {
  grid-row: 2;
  background-color: khaki;
  padding: 10px 20px;
  font-size: 2.2rem;
  color: rgb(32, 32, 130);
}

.heading-2 {
  padding-left: 20px;
  grid-row: 3;
  background-color: darksalmon;
  display: flex;
}

.heading-2 h1 {
  flex-basis: 50%;
  align-self: center;
  color: orangered;
  font-size: 7rem;
}

.heading-2 h2 {
  flex-basis: 50%;
  align-self: center;
  text-transform: uppercase;
  font-weight: 100;
}

.learn-more-btn {
  grid-row: 4;
  background-color: coral;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.learn-more-btn button {
  background-color: rgb(32, 32, 130);
  border-radius: 50px;
  color: white;
  height: 65%;
  width: 30%;
}
